
:root {
    --hover-color: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-iris:#4D5AE5;
    --background-color-cloud:#F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color:var(--color-navy-blue);
    
}


.list li {
    list-style: none;
}
.link {
    text-decoration: none;
   color: var(--color-navy-blue);
}
.link:hover, .link:focus {
    color: var(--hover-color);
}



/*-------------------------- header --------------------------*/

.head {
    box-sizing: border-box;
    border-bottom: 1px solid #E7E9FC;
    background-color: #FFFFFF

    
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-navy-blue);

    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-iris);

    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/*----------------------- nav  ----------------------*/
.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    .contacts-item {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
    
.mail {
}
.tel {
}



/*------------------- hero studio ---------------------*/
.hero {
    background-color: var(--color-navy-blue);
    width: 1440px;
    height: 600px;
}
.hero-title {


    width: 496px;
    height: 120px;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-button {



    width: 169px;
    height: 56px;

    background: var(--color-iris);
    border: 1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    font-family: inherit;
}    
    
.hero-button:hover,     .hero-button:focus  {
    background-color: var(--hover-color);
}

/*------------------- features studio ---------------------*/

.features {
}

.features-list {
}

.features-item {
    padding: 0 24px;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/*------------------- work studio ---------------------*/

.work {
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.work-list {
}

.work-item {
margin: 72px 24px 0;}



/*------------------- team studio  ---------------------*/

.team {

    background: var(--background-color-cloud);
    color: var(--color-navy-blue);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 120px;
}

.team-list {}
.team-item {
    margin: 72px 24px 0;
    width: 264px;
    height: 380px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}
.mark {

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.tom {

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.camila {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.daniel {

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


/*------------------- filter btn portfolio ---------------------*/
.filter-btn {
}

.filter-btn > li button:hover, .filter-btn > li button:focus  {
    background-color: var(--hover-color);
    color: #FFFFFF;
}

.fil-btn {


    background: var(--background-color-cloud);
    border-radius: 4px;
    border: 1px solid #E7E9FC;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;

}
.filter-btn-all {
    width: 69px;
    height: 48px;
}
.filter-btn-web {
    width: 116px;
    height: 48px;
}
.filter-btn-app   {
    width: 78px;
    height: 48px;
}
.filter-btn-des {
    width: 101px;
    height: 48px;
}
.filter-btn-market {
    width: 126px;
    height: 48px;

}

/*------------------- project portfolio ---------------------*/

.project {}

.project-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);

}
.project-subtitle{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.project-one {
    box-sizing: border-box;


    background: #FFFFFF;
}

.project-two {
    box-sizing: border-box;

    background: #FFFFFF;
}

.project-three {
    box-sizing: border-box;


    background: #FFFFFF;
}

.project-four {
    box-sizing: border-box;


    background: #FFFFFF;
}

.project-five {
    box-sizing: border-box;

    background: #FFFFFF;
}

.project-six {
    box-sizing: border-box;

    background: #FFFFFF;
}

.project-seven {
    box-sizing: border-box;


    background: #FFFFFF;
}

.project-eight {
    box-sizing: border-box;


    background: #FFFFFF;
}

.project-nine {
    box-sizing: border-box;


    background: #FFFFFF;
}


/*------------------- footer ---------------------*/
.footer {

    background: var(--color-navy-blue);
}

.footer-item {
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: #F4F4FD;

    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

